.detailsListClass{
    width: 100%;
    border: #edebe9 1px solid;
    border-radius: 5px;
    // height: 75vh;
}

.checkBoxClass{
    padding: 5px;
}

.mLeftClass{
    margin-left: 20px;
}
.filterCard{
    box-shadow: #64646f33 0px 7px 29px 0px;
    width: 250px;
    padding: 20px;
    height: 100vh;
    position: fixed;
    margin-bottom: 40px;
    .filterHeaderDiv{
        display: flex;
        color: #474645;
        .filterIcon{
            margin-top: 22px;
            padding-right: 5px;
            font-size: large;
            font-weight: 600;
            line-height: 1.7;
        }
    }
    
    .clearFilter{
        padding: 20px 10px;
        color: darkcyan;
        cursor: pointer;
        i{
            padding-right: 10px;
        }
    }
}
.TableHeading{
    display: flex;
    justify-content: space-between;
    color: #514c4c;
}
.paddingClass{
    padding: 20px;
    width: 300px;
    left: 350px;
    position: absolute;
    button{
        margin-top: 20px;
        height: 30px;
    }
}