.detailsListClass{
    width: 100%;
    border: #edebe9 1px solid;
    border-radius: 5px;
    margin-top: 2rem;
}

.checkBoxClass{
    padding: 5px;
}

.mLeftClass{
    margin-left: 20px;
}
.filterCard{
    box-shadow: #64646f33 0px 7px 29px 0px;
    width: 250px;
    padding: 20px;
    height: 100vh;
    position: fixed;
    .filterHeader{
        // display: flex;
        // justify-content: center;
        color: #605e5c;
        margin: 30px 0px 40px 0px;
    }
}